---
const { text, size } = Astro.props;
---

<script></script>

<div class="relative w-full flex overflow-x-hidden">
  <div class="animate-marquee whitespace-nowrap select-none">
    <span class=`text-${size} mr-6`>{text}</span>
    <span class=`text-${size} mr-6`>{text}</span>
  </div>
  <div class="absolute top-0 animate-marquee2 whitespace-nowrap select-none">
    <span class=`text-${size} mr-6`>{text}</span>
    <span class=`text-${size} mr-6`>{text}</span>
  </div>
</div>
